html, body {
  height: 100%;
  width: 100%;
}

.landingScreen {
  height: 100%;
  background-image: url(image.jpeg);
  background-position: center;
  background-size: cover; 
}

.aboutClass {
	padding-top: 10%;
	height:100%;
	background-color: teal;

}

.skillsClass{
	padding-top: 25%;
	height:100%;
	background-color: lightblue;
}

.contactClass {
	padding-top: 25%;
	height:100%;
	background-color: orange;

}